<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>park_point</key>
	<dict>
		<key>gleason_circle</key>
		<dict>
			<key>title</key>
			<string>Gleason Circle</string>
			<key>latitude</key>
			<real>43.083112</real>
			<key>longitude</key>
			<real>-77.675909</real>
		</dict>
		<key>0</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08144</real>
			<key>longitude</key>
			<real>-77.67670000000001</real>
		</dict>
		<key>6</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08173</real>
			<key>longitude</key>
			<real>-77.67671</real>
		</dict>
		<key>7</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08185</real>
			<key>longitude</key>
			<real>-77.67669000000001</real>
		</dict>
		<key>8</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08194</real>
			<key>longitude</key>
			<real>-77.67667</real>
		</dict>
		<key>9</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08208</real>
			<key>longitude</key>
			<real>-77.67663</real>
		</dict>
		<key>10</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08255</real>
			<key>longitude</key>
			<real>-77.67653</real>
		</dict>
		<key>11</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08281</real>
			<key>longitude</key>
			<real>-77.67648000000001</real>
		</dict>
		<key>12</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08311</real>
			<key>longitude</key>
			<real>-77.67638000000001</real>
		</dict>
		<key>13</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08314</real>
			<key>longitude</key>
			<real>-77.67636</real>
		</dict>
		<key>13 - 2</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08323</real>
			<key>longitude</key>
			<real>-77.67626000000001</real>
		</dict>
		<key>13 - 3</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.08327000000001</real>
			<key>longitude</key>
			<real>-77.67612000000001</real>
		</dict>
		<key>13 - 4</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.0833</real>
			<key>longitude</key>
			<real>-77.67599000000001</real>
		</dict>
		<key>13 - 5</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>latitude</key>
			<real>43.0833</real>
			<key>longitude</key>
			<real>-77.67589000000001</real>
		</dict>
		<key>barnes_nobles</key>
		<dict>
			<key>title</key>
			<string>Barnes and Nobles</string>
			<key>latitude</key>
			<real>43.092021</real>
			<key>longitude</key>
			<real>-77.65518400000001</real>
		</dict>
		<key>park_point_south</key>
		<dict>
			<key>title</key>
			<string>South</string>
			<key>latitude</key>
			<real>43.08832</real>
			<key>longitude</key>
			<real>-77.65803200000001</real>
		</dict>
	</dict>
</dict>
</plist>
