<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<string>7:21:00</string>
		<string>7:41:00</string>
		<string>8:01:00</string>
		<string>8:11:00</string>
		<string>8:21:00</string>
		<string>8:41:00</string>
		<string>9:01:00</string>
		<string>9:11:00</string>
		<string>9:21:00</string>
		<string>9:41:00</string>
		<string>10:02:00</string>
		<string>10:21:00</string>
		<string>10:41:00</string>
		<string>11:05:00</string>
		<string>11:21:00</string>
		<string>11:41:00</string>
		<string>12:01:00</string>
		<string>12:11:00</string>
		<string>12:21:00</string>
		<string>12:41:00</string>
		<string>13:01:00</string>
		<string>13:11:00</string>
		<string>13:21:00</string>
		<string>13:41:00</string>
		<string>14:01:00</string>
		<string>14:21:00</string>
		<string>14:41:00</string>
		<string>15:01:00</string>
		<string>15:21:00</string>
		<string>15:41:00</string>
		<string>16:01:00</string>
		<string>16:20:00</string>
		<string>16:50:00</string>
		<string>17:14:00</string>
		<string>17:34:00</string>
		<string>17:54:00</string>
		<string>18:14:00</string>
		<string>18:40:00</string>
		<string>19:05:00</string>
		<string>19:30:00</string>
		<string>19:55:00</string>
		<string>20:30:00</string>
		<string>21:20:00</string>
		<string>21:45:00</string>
		<string>22:10:00</string>
</array>
</plist>
