<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>full_list</key>
	<dict>
		<key>gleason_circle</key>
		<dict>
			<key>title</key>
			<string>Gleason Circle</string>
			<key>id</key>
			<string>3385</string>
			<key>latitude</key>
			<real>43.083112</real>
			<key>longitude</key>
			<real>-77.675909</real>
		</dict>
		<key>barnes_nobles</key>
		<dict>
			<key>stops</key>
			<dict>
				<key>barnes_nobles</key>
				<dict>
					<key>title</key>
					<string>Barnes and Nobles</string>
					<key>latitude</key>
					<real>43.092021</real>
					<key>longitude</key>
					<real>-77.65518400000001</real>
				</dict>
				<key>park_point_south</key>
				<dict>
					<key>title</key>
					<string>Park Point South</string>
					<key>latitude</key>
					<real>43.08832</real>
					<key>longitude</key>
					<real>-77.65803200000001</real>
				</dict>
				<key>residence_halls</key>
				<dict>
					<key>title</key>
					<string>Residence Halls</string>
					<key>latitude</key>
					<real>43.084177</real>
					<key>longitude</key>
					<real>-77.667632</real>
				</dict>
				<key>gleason_circle</key>
				<dict>
					<key>title</key>
					<string>Gleason Circle</string>
					<key>latitude</key>
					<real>43.083112</real>
					<key>longitude</key>
					<real>-77.675909</real>
				</dict>
				<key>lot_k</key>
				<dict>
					<key>title</key>
					<string>Lot K</string>
					<key>latitude</key>
					<real>43.08605</real>
					<key>longitude</key>
					<real>-77.666076</real>
				</dict>
				<key>park_point_north</key>
				<dict>
					<key>title</key>
					<string>Park Point North</string>
					<key>latitude</key>
					<real>43.092361</real>
					<key>longitude</key>
					<real>-77.658411</real>
				</dict>
			</dict>
			<key>title</key>
			<string>Barnes and Nobles</string>
			<key>id</key>
			<string>4870</string>
			<key>latitude</key>
			<real>43.092021</real>
			<key>longitude</key>
			<real>-77.65518400000001</real>
		</dict>
		<key>park_point_south</key>
		<dict>
			<key>title</key>
			<string>Park Point South</string>
			<key>id</key>
			<string>4874</string>
			<key>latitude</key>
			<real>43.08832</real>
			<key>longitude</key>
			<real>-77.65803200000001</real>
		</dict>
		<key>lot_k</key>
		<dict>
			<key>title</key>
			<string>Lot K</string>
			<key>id</key>
			<string>4879</string>
			<key>latitude</key>
			<real>43.08605</real>
			<key>longitude</key>
			<real>-77.666076</real>
		</dict>
		<key>park_point_north</key>
		<dict>
			<key>title</key>
			<string>Park Point North</string>
			<key>id</key>
			<string>4875</string>
			<key>latitude</key>
			<real>43.092361</real>
			<key>longitude</key>
			<real>-77.658411</real>
		</dict>
		<key>residence_halls</key>
		<dict>
			<key>title</key>
			<string>Residence Halls</string>
			<key>id</key>
			<string>3381</string>
			<key>latitude</key>
			<real>43.084177</real>
			<key>longitude</key>
			<real>-77.667632</real>
		</dict>
		<key>perkins_green</key>
		<dict>
			<key>title</key>
			<string>Perkins Green</string>
			<key>id</key>
			<string>3384</string>
			<key>latitude</key>
			<real>43.086179</real>
			<key>longitude</key>
			<real>-77.659961</real>
		</dict>
		<key>colony_manor</key>
		<dict>
			<key>title</key>
			<string>Colony Manor</string>
			<key>id</key>
			<string>3382</string>
			<key>latitude</key>
			<real>43.083016</real>
			<key>longitude</key>
			<real>-77.658413</real>
		</dict>
		<key>province</key>
		<dict>
			<key>title</key>
			<string>Province</string>
			<key>id</key>
			<string>5054</string>
			<key>latitude</key>
			<real>43.086616</real>
			<key>longitude</key>
			<real>-77.65604500000001</real>
		</dict>
	</dict>
</dict>
</plist>
