<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>full_list</key>
	<dict>
		<key>gleason_circle</key>
		<dict>
			<key>title</key>
			<string>Gleason Circle</string>
			<key>latitude</key>
			<real>43.083112</real>
			<key>longitude</key>
			<real>-77.675909</real>
		</dict>
		<key>barnes_nobles</key>
		<dict>
			<key>times</key>
			<array>
				<string>7:21:00</string>
				<string>7:41:00</string>
				<string>8:01:00</string>
				<string>8:11:00</string>
				<string>8:21:00</string>
				<string>8:41:00</string>
				<string>9:01:00</string>
				<string>9:11:00</string>
				<string>9:21:00</string>
				<string>9:41:00</string>
				<string>10:02:00</string>
				<string>10:21:00</string>
				<string>10:41:00</string>
				<string>11:05:00</string>
				<string>11:21:00</string>
				<string>11:41:00</string>
				<string>12:01:00</string>
				<string>12:11:00</string>
				<string>12:21:00</string>
				<string>12:41:00</string>
				<string>13:01:00</string>
				<string>13:11:00</string>
				<string>13:21:00</string>
				<string>13:41:00</string>
				<string>14:01:00</string>
				<string>14:21:00</string>
				<string>14:41:00</string>
				<string>15:01:00</string>
				<string>15:21:00</string>
				<string>15:41:00</string>
				<string>16:01:00</string>
				<string>16:20:00</string>
				<string>16:50:00</string>
				<string>17:14:00</string>
				<string>17:34:00</string>
				<string>17:54:00</string>
				<string>18:14:00</string>
				<string>18:40:00</string>
				<string>19:05:00</string>
				<string>19:30:00</string>
				<string>19:55:00</string>
				<string>20:30:00</string>
				<string>21:20:00</string>
				<string>21:45:00</string>
				<string>22:10:00</string>
			</array>
			<key>title</key>
			<string>Barnes and Nobles</string>
			<key>latitude</key>
			<real>43.092021</real>
			<key>longitude</key>
			<real>-77.65518400000001</real>
		</dict>
		<key>park_point_south</key>
		<dict>
			<key>title</key>
			<string>Park Point South</string>
			<key>latitude</key>
			<real>43.08832</real>
			<key>longitude</key>
			<real>-77.65803200000001</real>
		</dict>
		<key>lot_k</key>
		<dict>
			<key>title</key>
			<string>Lot K</string>
			<key>latitude</key>
			<real>43.08605</real>
			<key>longitude</key>
			<real>-77.666076</real>
		</dict>
		<key>park_point_north</key>
		<dict>
			<key>title</key>
			<string>Park Point North</string>
			<key>latitude</key>
			<real>43.092361</real>
			<key>longitude</key>
			<real>-77.658411</real>
		</dict>
		<key>residence_halls</key>
		<dict>
			<key>title</key>
			<string>Residence Halls</string>
			<key>latitude</key>
			<real>43.084177</real>
			<key>longitude</key>
			<real>-77.667632</real>
		</dict>
		<key>perkins_green</key>
		<dict>
			<key>title</key>
			<string>Perkins Green</string>
			<key>latitude</key>
			<real>43.086179</real>
			<key>longitude</key>
			<real>-77.659961</real>
		</dict>
		<key>colony_manor</key>
		<dict>
			<key>title</key>
			<string>Colony Manor</string>
			<key>latitude</key>
			<real>43.083016</real>
			<key>longitude</key>
			<real>-77.658413</real>
		</dict>
		<key>province</key>
		<dict>
			<key>title</key>
			<string>Province</string>
			<key>latitude</key>
			<real>43.086616</real>
			<key>longitude</key>
			<real>-77.65604500000001</real>
		</dict>
	</dict>
</dict>
</plist>
