<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>7:34:00</string>
	<string>7:54:00</string>
    <string>8:04:00</string>
    <string>8:14:00</string>
	<string>8:34:00</string>
	<string>8:54:00</string>
    <string>9:04:00</string>
	<string>9:14:00</string>
	<string>9:34:00</string>
	<string>9:55:00</string>
	<string>10:14:00</string>
	<string>10:34:00</string>
	<string>10:58:00</string>
	<string>11:14:00</string>
	<string>11:34:00</string>
	<string>11:54:00</string>
	<string>12:04:00</string>
	<string>12:14:00</string>
	<string>12:34:00</string>
	<string>12:54:00</string>
	<string>13:04:00</string>
	<string>13:14:00</string>
	<string>13:34:00</string>
	<string>13:54:00</string>
	<string>14:14:00</string>
	<string>14:34:00</string>
	<string>14:54:00</string>
	<string>15:14:00</string>
	<string>15:29:00</string>
	<string>15:49:00</string>
	<string>16:08:00</string>
	<string>16:28:00</string>
	<string>16:48:00</string>
	<string>17:08:00</string>
	<string>17:28:00</string>
	<string>17:48:00</string>
	<string>18:08:00</string>
	<string>18:33:00</string>
	<string>18:58:00</string>
    <string>19:23:00</string>
	<string>19:48:00</string>
	<string>20:23:00</string>
	<string>20:48:00</string>
	<string>21:13:00</string>
	<string>21:38:00</string>
	<string>22:03:00</string>
</array>
</plist>
