<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>7:27:00</string>
	<string>7:47:00</string>
    <string>7:49:00</string>
	<string>8:07:00</string>
	<string>8:17:00</string>
	<string>8:27:00</string>
	<string>8:47:00</string>
    <string>8:49:00</string>
	<string>9:07:00</string>
	<string>9:17:00</string>
	<string>9:27:00</string>
	<string>9:47:00</string>
	<string>9:49:00</string>
	<string>10:08:00</string>
	<string>10:29:00</string>
	<string>10:47:00</string>
	<string>11:18:00</string>
	<string>11:27:00</string>
	<string>11:47:00</string>
	<string>12:07:00</string>
	<string>12:17:00</string>
	<string>12:27:00</string>
	<string>12:47:00</string>
	<string>13:07:00</string>
	<string>13:17:00</string>
	<string>13:27:00</string>
	<string>13:47:00</string>
	<string>14:07:00</string>
	<string>14:27:00</string>
	<string>14:47:00</string>
	<string>15:07:00</string>
	<string>15:27:00</string>
	<string>15:42:00</string>
	<string>16:02:00</string>
	<string>16:22:00</string>
	<string>16:42:00</string>
	<string>17:02:00</string>
	<string>17:22:00</string>
	<string>17:42:00</string>
	<string>18:02:00</string>
	<string>18:22:00</string>
	<string>18:26:00</string>
    <string>18:51:00</string>
	<string>19:16:00</string>
	<string>19:41:00</string>
	<string>20:06:00</string>
	<string>20:41:00</string>
	<string>21:06:00</string>
	<string>21:31:00</string>
    <string>21:56:00</string>
	<string>22:21:00</string>
</array>
</plist>
